@model FormBuilder.Models.LoginModel

<div class="widget-body">
    <div class="widget-main">
        <h4 class="header blue lighter bigger">
            <i class="icon-key green"></i>
            Please Enter Your Login Details
        </h4>

        <div class="space-6"></div>

        @using (Html.BeginForm("JsonLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
    
            <fieldset>
                <legend></legend>
                <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                        @Html.TextBoxFor(m => m.UserName, new { autofocus = "autofocus", id = "loginName", @class = "form-control", placeholder = "Login Name" })
                        <i class="icon-user"></i>
                    </span>
                    <span>
                        @Html.ValidationMessageFor(m => m.UserName)
                    </span>
                </label>

                <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        <i class="icon-lock"></i>
                    </span>
                    <span>
                        @Html.ValidationMessageFor(m => m.Password)
                    </span>
                </label>

                <div class="space"></div>

                <div class="clearfix">
                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                        <i class="icon-key"></i>
                        Login
                    </button>
                </div>

                <div class="space-4"></div>
            </fieldset>
            @Html.ValidationSummary()
        }
    </div>
    <!-- /widget-main -->
</div>
<!-- /widget-body -->
