@model FormBuilder.Models.LoginModel
@{
    ViewBag.Title = "Angular FormBuilder";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<header>
    
</header>
<div id="main-content" data-ng-app="formBuilder">
@if (@User.Identity.IsAuthenticated)
{
    <div data-ng-view></div> <!-- The SPA Views go here -->   
}
else
{
    @Html.Partial("_Authentication")
}
</div>

@if (@User.Identity.IsAuthenticated)
{
    <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />      

    @section scripts {
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/todo")
    }
}